@font-face {
    font-family: montserrat;
    src: url("Montserrat-Bold.ttf");
}
body {
  font-family: arial;
}
.cartao {
  width: 380px;
  height: 240px;
  background: rgb(1, 64, 7);
  background: linear-gradient(
    180deg,
    rgba(1, 64, 7, 1) 35%,
    rgba(32, 136, 65, 1) 100%
  );
  border-radius: 15px;
  margin: 10px 0;
}

#logo {
  margin: 10px;
}

#chip {
  width: 50px;
  height: 40px;
  margin-left: 40px;
  background: rgb(1, 64, 7);
  background: linear-gradient(180deg, #b69c49 35%, #858b3b 100%);
  border-radius: 10px;
}

#nome {
  margin-top: 90px;
  margin-left: 10px;
  color: white;
  font-size: 17px;
}

#numero {
  margin: 50px 0 10px 0;
  margin-left: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.dados {
  color: white;
  margin: 0 10px 10px 10px;
}

#mini {
  margin: 10px;
}

#chip2 {
  width: 380;
  height: 50px;
  background-color: black;
}

#cinza {
  width: 60px;
  height: 40px;
  margin: 20px;
  border-radius: 50px;
  background-color: gray;
}
