@font-face {
  font-family: montserrat;
  src: url("Montserrat-Bold.ttf");
}
body {
  font-family: arial;
}
.cartao {
  width: 380px;
  height: 240px;
  background: rgb(1, 64, 7);
  background: linear-gradient(
    180deg,
    rgba(1, 64, 7, 1) 35%,
    rgba(32, 136, 65, 1) 100%
  );
  border-radius: 15px;
  margin: 10px 0;
}

#logo {
  margin: 10px;
}

#chip {
  width: 50px;
  height: 40px;
  margin-left: 40px;
  background: rgb(1, 64, 7);
  background: linear-gradient(180deg, #b69c49 35%, #858b3b 100%);
  border-radius: 10px;
}

#nome {
  display: block;
  margin-top: 90px;
  margin-left: 10px;
  color: white;
  font-size: 17px;
}

#numero {
  margin-left: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.dados {
  color: white;
  margin: 0 10px;
}

#cardinf {
  margin: 30px 0 10px 0;
}

.circulo {
  display: inline-block;
  border-radius: 100%;
  margin: 0 -5px;
  width: 30px;
  height: 30px;
  background-color: white;
}

#circ1 {
  background-color: lightgray;
}
#circ2 {
  background-color: rgba(255, 255, 255, 0.616);
}

#mini {
  margin: 20px;
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
}

#chip2 {
  width: 380;
  height: 50px;
  background-color: black;
}

#cinza {
  width: 50px;
  height: 40px;
  margin: 20px;
  padding-left: 10px;
  border-radius: 50px;
  background-color: gray;
  display: flex;
  align-items: center;
}

#midbackcard {
  display: grid;
  grid-template-columns: 40% 10% 50%;
}

#contato {
  color: white;
  font-size: 9px;
  margin: 25px 25px 0 5px;
}

#interr {
  font-size: 27px;
  width: 30px;
  height: 30px;
  border: solid black 1px;
  text-align: center;
  border-radius: 50px;
  margin-top: 20px;
}
